<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="suite">
    <test name="test">
        <classes>
            <class name="demo1.testSuite"/>
            <class name="passport.PassportModel"/>
        </classes>

    </test>
    <test name="testlogin">
        <classes>
            <class name="passport.PassportModel">
                <methods>
                    <include name="loginByPhone"></include>
                </methods>
            </class>
        </classes>
    </test>
    <test name="groupstest">
        <groups>
            <run>
                <include name="loginTest"/>
            </run>
        </groups>
    </test>
    <listeners>
        <listener class-name="util.ExtentTestNGIReporterListener"/>
    </listeners>
</suite>